/* Tablet and Mobile Styles */
@media (width <= 1023px) {
  /* Header */
  .menu-button {
    display: block;
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0.375rem 0.875rem;
    background-color: transparent;
    border: 0;
    color: #677788;
  }
  .menu-button:hover {
    border: 0;
    background-color: transparent;
  }

  .header-navigation ul {
    display: none;
  }

  .buy-button {
    display: none;
  }

  /* Hero */
  #google-logo,
  #ads-logo,
  #asana-logo,
  #calendar-logo,
  #weave-logo,
  #paypal-logo,
  #atlassian-logo {
    animation: none;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    height: 664px;
    gap: 10px;
  }

  .hero-info,
  .hero-logos {
    width: 100%;
    padding: 0;
  }

  /* Left/Top Part */
  .hero-info {
    height: 305px;
    padding-bottom: 60px;
  }

  .hero-info .title {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-actions {
    justify-content: center;
    align-items: center;
  }

  /* Why Front */
  .bullet-point > .left-wing,
  .bullet-point > .right-wing {
    height: 1px;
    width: 35%;
    background-color: #e6e9f2;
  }

  .bullet-container {
    align-self: flex-start;
    justify-content: center;
    text-align: center;
  }

  /* Pricing */
  .pricing-info {
    flex-direction: column;
  }

  .plan-price {
    border: #e2e2e2;
  }

  .plan-price,
  .plan-features {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .button-container {
    text-align: center;
  }

  /* Hire Us */
  .hire-container {
    flex-direction: column;
  }

  .hire-info {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    gap: 60px;
  }

  .hire-info,
  .contact-form {
    width: 100%;
  }

  .hire-title {
    width: 50%;
  }

  .hire-info .reviewer {
    padding: 0;
  }

  /* Footer */
  .contact-group {
    width: 38%;
  }

  .footer-links {
    flex-wrap: wrap;
    width: 50%;
  }
}

/* Mobile Only Styles */
@media (width <= 767px) {
  .body {
    min-width: 360px;
  }

  /* Logos */
  #asana-logo {
    top: 0;
  }

  #google-logo {
    left: 2%;
  }

  #paypal-logo {
    left: 7%;
  }

  #weave-logo {
    top: 35%;
    left: 58%;
  }

  /* Why Front */
  .why-container > .bullets-list {
    flex-direction: column;
    gap: 17px;
  }

  .bullet-point > .left-wing,
  .bullet-point > .right-wing {
    display: none;
  }

  .bullet-container {
    flex-direction: row;
    justify-content: flex-start;
  }

  .bullet-point {
    width: 50px;
  }

  .bullet-container span {
    text-align: left;
  }

  /* Pricing/Plan */
  .plan-features {
    display: column;
  }

  .plan-feature {
    width: 100%;
  }

  /* Hire Container */
  .hire-info {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container div {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .contact-address,
  .contact-phone {
    display: flex;
    justify-content: center;
  }
}
