* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  min-width: 360px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
}

p {
  color: #677788;
  line-height: 24px;
}

button {
  background-color: #2476ff;
  color: white;
  border-radius: 30px;
  border: 0;
  text-align: center;
}

button:hover {
  background-color: white;
  color: #2476ff;
  border: 2px solid #2476ff;
}

a {
  color: #677788;
  text-decoration: none;
}

a:hover {
  color: #2476ff;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 86px;
  padding: 10px 30px;
  background-color: #f6f8fa;
}

.front-logo-container {
  height: 47px;
  width: 155px;
}

.header-navigation {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.menu-button {
  display: none;
}

.header-navigation ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.header-navigation ul li a {
  font-size: 14px;
}

.buy-button {
  width: 102px;
  height: 45px;
}

/* Hero */
.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 0;
  height: 446px;
  width: 100%;
}

.hero-info,
.hero-logos {
  width: 50%;
  height: 100%;
}

/* Left Side */
.hero-info {
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.hero-info .title {
  gap: 11px;
  width: 334px;
  display: flex;
  flex-direction: column;
}

p.subtitle {
  font-size: 14px;
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.video-button {
  width: 137px;
  height: 48px;
}

.hero-actions a {
  font-size: 14px;
}

/* Right Side */
.hero-logos {
  position: relative;
}

.hero-logos .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 3px 13px 0px #00000040;
}

#google-logo,
#ads-logo {
  height: 60px;
  width: 60px;
  padding: 10px;
}

#google-logo > img,
#ads-logo > img {
  width: 40px;
  height: 40px;
}

#asana-logo,
#calendar-logo,
#weave-logo,
#paypal-logo,
#atlassian-logo {
  height: 80px;
  width: 80px;
  padding: 16px;
}

#asana-logo > img,
#calendar-logo > img,
#weave-logo > img,
#paypal-logo > img,
#atlassian-logo > img {
  width: 48px;
  height: 48px;
}

#google-logo {
  top: 2%;
  left: 13%;
}

#atlassian-logo {
  top: 2%;
  left: 36%;
}

#asana-logo {
  top: 2%;
  left: 79%;
}

#paypal-logo {
  top: 42%;
  left: 9%;
}

#weave-logo {
  top: 42%;
  left: 54%;
}

#ads-logo {
  top: 71%;
  left: 32%;
}

#calendar-logo {
  top: 76%;
  left: 76%;
}

.top-section {
  position: relative;
}

.top-section > img {
  position: absolute;
  width: 100%;
  height: 532px;
  z-index: -999;
  top: -1px;
}

/* Why Section */

.why-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px 80px;
  gap: 40px;
  height: 354px;
  width: 100%;
}

.why-container > .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 59%;
  text-align: center;
}

.why-container > .bullets-list {
  width: 95%;
  height: 145px;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
}

.bullet-container {
  width: 100%;
  padding: 26px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  /* border: 2px solid red; */
}

.bullet-point {
  display: flex;
  height: 50px;
  width: 100%;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.bullet-point > .bullet {
  width: 50px;
  height: 50px;
  background-color: #ecf2ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet-point > .bullet > .bullet-center {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0066ff;
}

.bullet-point > .left-wing,
.bullet-point > .right-wing {
  height: 1px;
  width: 100%;
  background-color: #e6e9f2;
}

#bullet-one > .bullet-point > .left-wing {
  background-color: white;
}
#bullet-four > .bullet-point > .right-wing {
  background-color: white;
}

/* Pricing */
.pricing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
  padding-bottom: 120px;
}

.pricing-container > .title {
  text-align: center;
}

.pricing-container > .title > h2 {
  padding-bottom: 10px;
}

.pricing-info {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 30px;
  padding: 0 30px;
}

.plan-price {
  display: flex;
  flex-direction: column;
  width: 38%;
  height: 100%;
  padding: 40px;
  gap: 50px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 10px 20px 0px #00000026;
}

.price-display {
  display: flex;
  gap: 7px;
}

.button-container > p {
  font-size: 12px;
}

.price {
  font-size: 50px;
}

.per-month {
  font-size: 20px;
  color: #677788;
  align-self: flex-end;
  padding-bottom: 9px;
}

.price-display > hr {
  padding: 30px 0;
}

.plan-features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.plan-feature {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 45%;
  height: 50%;
}

.plan-feature > img {
  width: 50px;
  height: 50px;
}

.plan-feature > .head-group {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.plan-feature > .head-group > span {
  background-color: #01c9a7;
  color: white;
  padding: 4px 10px;
  border-radius: 25%;
}

.pricing-info > .button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing-info > .button-container > p {
  font-size: 12px;
}

/* Tablet and Mobile Styles */
@media (width <= 1023px) {
  .menu-button {
    display: block;
    font-size: 20px;
    font-weight: 900;
    padding: 6px 14px;
    background-color: white;
    border: 0;
    color: #677788;
  }
  .menu-button:hover {
    border: 0;
  }

  .header-navigation ul {
    display: none;
  }

  .buy-button {
    display: none;
  }
}

/* Mobile Only Styles */
