* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  min-width: 360px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

button {
  background-color: #2476ff;
  color: white;
  border-radius: 30px;
  border: 0;
  text-align: center;
}

button:hover {
  background-color: white;
  color: #2476ff;
  border: 2px solid #2476ff;
}

a {
  color: #677788;
  text-decoration: none;
}

a:hover {
  color: #2476ff;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 86px;
  padding: 10px 30px;
  background-color: #f6f8fa;
}

.front-logo-container {
  height: 47px;
  width: 155px;
}

.header-navigation {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.menu-button {
  display: none;
}

.header-navigation ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.header-navigation ul li a {
  font-size: 14px;
}

.buy-button {
  width: 102px;
  height: 45px;
}

/* Hero */
.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 0;
  height: 446px;
  width: 100%;
}

.hero-info,
.hero-logos {
  width: 50%;
  height: 100%;
}

.hero-info {
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.hero-info .title {
  gap: 11px;
  width: 334px;
  display: flex;
  flex-direction: column;
}

p.subtitle {
  color: #677788;
  font-size: 14px;
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.video-button {
  width: 137px;
  height: 48px;
}

.hero-actions a {
  font-size: 14px;
}

.hero-logos {
  position: relative;
}

.hero-logos .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
}

#google-logo,
#ads-logo {
  height: 60px;
  width: 60px;
  padding: 10px;
}

#google-logo > img,
#ads-logo > img {
  width: 40px;
  height: 40px;
}

#asana-logo,
#calendar-logo,
#weave-logo,
#paypal-logo,
#atlassian-logo {
  height: 80px;
  width: 80px;
  padding: 16px;
}

#asana-logo > img,
#calendar-logo > img,
#weave-logo > img,
#paypal-logo > img,
#atlassian-logo > img {
  width: 48px;
  height: 48px;
}

#google-logo {
  top: 2%;
  left: 13%;
}

#atlassian-logo {
  top: 2%;
  left: 36%;
}

#asana-logo {
  top: 2%;
  left: 79%;
}

#paypal-logo {
  top: 42%;
  left: 9%;
}

#weave-logo {
  top: 42%;
  left: 54%;
}

#ads-logo {
  top: 71%;
  left: 32%;
}

#calendar-logo {
  top: 76%;
  left: 76%;
}

.top-section {
  position: relative;
}

.top-section > img {
  position: absolute;
  width: 100%;
  height: 532px;
  z-index: -999;
  top: -1px;
}

/* Tablet and Mobile Styles */
@media (width <= 1023px) {
  .menu-button {
    display: block;
    font-size: 20px;
    font-weight: 900;
    padding: 6px 14px;
    background-color: white;
    border: 0;
    color: #677788;
  }
  .menu-button:hover {
    border: 0;
  }

  .header-navigation ul {
    display: none;
  }

  .buy-button {
    display: none;
  }
}

/* Mobile Only Styles */
